body{
  margin: 0px;
  background-color: #533235;
  height: 100%;
}
.vertical-container {
  display: flex;
  flex-direction: row;
}
.horizontal-container{
  display: flex;
  flex-direction: column;
}

.content{
  width: 1000px;
  margin: auto;
  background-color: #a49698;
}

h1{
  font-size: 50px;
  text-shadow: 3px 3px black;
  color: #b28589;
}
h1, footer{
  text-align: center;
  font-family: "Cabin Sketch";
  background-image: url(images/books1.jpg);
  background-position: middle;
  padding: 40px;
  margin: 0px;
}
.navigation{
  background-color: #a49698;
  padding: 10px;
  margin-bottom: 350px;
}

.navBtn{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 60px;
  margin: 10px;
  border: none;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color:#b28589;
  background-color: #533235;
}
button:hover, button:active{
  color: #533235;
  background-color:#b28589;
  text-decoration: none;
}
#addBook, #editBook, #deleteBook{
  display: none;
  margin-top: 7px;
  font-family: "Poppins";
  color: #371e20;
}

.submitBtn{
  width: 100px;
  height: 33px;
  text-align: center;
  color: #b28589;
  background-color: #533235;
  margin-left: 5px;
}

input{
  background-color: #d3c3c5;
  color: #533235;
  height: 30px;
  width: 150px;
  font-family: "Poppins";
  border: 0px;
  text-align: center;
}

Input:focus{
  background-color: white;
}

#statusDiv, #bookListDiv, #keyDiv{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
  color: #371e20;
}

@media only screen and (max-width: 500px) {
  .vertical-container {
    flex-direction: columnrow;
  }
  .nav {
    margin-right: 0px;
  }
  h1 {
    font-size: 30px;
  }
  .content{
    width: 500px;
  }
  .navigation{
    margin-bottom: 10px;
  }
  .navBtn{
    width: 150px;
    height: 35px;
    margin: 10px;
  }
  #statusDiv, #bookListDiv, #keyDiv{
    margin-left: 20px;
    
  }

}