body{
    margin: 0px;
    background-color: rgb(112, 175, 204);
    height: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: row;
    
  }

  .horizontal-container{
    display: flex;
    flex-direction: column;
    
  }

  h1, footer{
    text-align: center;
    background-color:rgb(157, 121, 255);
    color: rgb(72, 40, 102);
    padding: 40px;
    margin: 0px;
  }


  .navigation{
    background-color: rgb(69, 100, 109);
    padding: 10px;
  }

  .navBtn{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 60px;
    margin: 10px;
    border: none;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: rgb(162, 151, 228);
    background-color: darkslateblue;
  }

  button:hover, button:active{
    color: darkslateblue;
    background-color: slateblue;
    text-decoration: none;
  }


  #addBook, #editBook, #deleteBook{
    background-color: rgb(112, 175, 204);
    display: none;
  }

